/* Responsive for Mobile Device */

@media screen and (max-width: 576px) {
    html{
        font-size: 14px;
    }

    /* Navbar */
    .menu-items {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 40px;
        cursor: pointer;
    }
    /* Hero content */
    header{
        padding: 15px 0;
    }
    .hero p{
        max-width: 100%;
    }
    .hero-content{
        margin-top: 50px;
    }



}

/* Responsive for Tablet */
@media screen and (min-width: 576px) and (max-width:992px) {

    /* Navbar */
    .menu-items {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 40px;
        cursor: pointer;
    }
    /* Hero content */
    header{
        padding: 20px 0;
    }
    .hero p{
        max-width: 100%;
    }
    .hero-content{
        margin-top: 70px;
    }
}