/* Responsive for Mobile Device */

@media screen and (max-width: 576px) {
    html {
        font-size: 14px;
    }

    /* Navbar */
    .menu-items {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 40px;
        cursor: pointer;
    }

    /* Hero content */
    header {
        padding: 15px 0;
    }

    .hero p {
        max-width: 100%;
        text-align: justify;
    }

    .hero-content {
        margin-top: 50px;
    }

    /* Quick feature style */
    .quick-feature {
        margin: 50px auto;
    }

    .quick-container {
        flex-direction: column-reverse;
    }

    .quick-container h2 {
        text-align: center;
    }
    .quick-container p {
        text-align: justify;
    }

    .quick-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-content{
        text-align: center;
    }



}

/* Responsive for Tablet */
@media screen and (min-width: 576px) and (max-width:992px) {

    /* Navbar */
    .menu-items {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 40px;
        cursor: pointer;
    }

    /* Hero content */
    header {
        padding: 20px 0;
    }

    .hero p {
        max-width: 100%;
    }

    .hero-content {
        margin-top: 70px;
    }

    /* Quick feature style */
    .quick-feature {
        margin: 70px auto;
    }

    .quick-container {
        flex-direction: column-reverse;
    }

    .quick-container h2 {
        text-align: center;
    }
    

    .quick-img {
        grid-template-columns: repeat(2, 1fr);
    }
    .quick-content{
        text-align: center;
    }
}